<p>Send Message</p>
<div class="container mt-5">

    <div *ngIf="messageReturned != ''">
      <h2>{{messageReturned}}</h2>
      <br/>
    </div>

      <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="form-group">
            <label for="categories">Categories:</label>
            <mat-form-field id="categories">
                <mat-label>Select your categories</mat-label>
                <mat-select [(value)]="selectedCategories" multiple>
                <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
                </mat-select>
          </mat-form-field>
          <br/>
          <label for="message">Message:</label>
          <textarea id="message" formControlName="message" rows="4" cols="50"></textarea>
        </div>
        <br/>
        <button type="submit">Send Message</button>
      </form>
      
</div>